@import "../node_modules/nouislider/dist/nouislider.min.css";

$prim-color: #5172ec;
$prim-color-text: #fff;
$text-default-color: #747474;
$box-background-color: #f6f6f6;
$box-border-color: #d5d5d5;
$invisible: rgba(255, 255, 255, 0);

$exo-medium: 300;
$exo-semibold: 600;
$exo-black: 900;

$header-height: 95px;

$search-bar-height: 65px;

a.svg-icon {
  width: 25px;
  height: 25px;
  display: block;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;

    path {
      fill: $text-default-color;
      stroke: $text-default-color;
    }
  }

  &:hover,
  &.active {
    svg {
      path {
        fill: $prim-color;
        stroke: $prim-color;
      }
    }
  }
}

header {
  height: $header-height;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #d5d5d5;
  box-shadow: offset-x offset-y blur-radius spread-radius rgba(0, 0, 0, 0.6)
    inset;
  font-family: "Exo", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2rem;
  user-select: none;

  #header-logo {
    height: 36px;
    width: auto;
    background: url(logo.png) no-repeat left;
    display: block;
    margin-right: 1rem;
    padding-left: 65px;
  }

  h1 {
    font-weight: $exo-black;
    font-size: 36px;
    color: $prim-color;
    margin: -5px 0 0;
  }

  nav {
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;

    a {
      height: $header-height;
      line-height: $header-height;
      display: block;
      float: left;
      margin-right: 3rem;
      border-bottom: 4px solid $invisible;

      &.active,
      &:hover {
        color: $prim-color;
      }

      &.active {
        border-bottom: 4px solid $prim-color;
      }
    }
  }

  #user {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      background-size: contain;
      display: block;
      cursor: pointer;
    }

    a.notifications {
      width: 25px;
      height: 25px;
      margin-left: auto;
    }

    a.user {
      background: url("user.svg") no-repeat;
      margin-left: 2rem;
      width: 35px;
      height: 35px;
    }
  }
}

body {
  background: #efefef url(bg.png) repeat;

  &,
  * {
    color: $text-default-color;
  }
}

.box {
  background: $box-background-color;
  border: 1px solid $box-border-color;
}

.rounded {
  border-radius: 5px;
}

.sharp-bottom {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.page {
  display: flex;
  padding: 2rem;
  justify-content: center;

  &.search-page {
    justify-content: left;
  }
}

#search {
  width: 50%;
  min-width: 700px;

  #search-bar {
    height: $search-bar-height;
    width: 100%;
    display: flex;
    font-size: 0.8rem;

    .search-field {
      border-right: 1px solid $box-border-color;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 1rem;
      user-select: none;
      font-weight: $exo-medium;

      &.no-border {
        border: none;
        margin-left: auto;
        order: 2;
      }

      input {
        color: $text-default-color;
        border: none;
        outline: none;
        padding: 0;
        width: 100%;
      }

      input {
        background: none;
        background-size: 20px;
        background-position: 0 center;
        background-repeat: no-repeat;
        height: 30%;
        padding-left: 35px;
        padding-right: 0px;

        &::after {
          content: "";
          height: 100%;
          border-right: 1px solid $box-border-color;
        }

        &.search-title {
          background-image: url(job.svg);
        }

        &.search-location {
          background-image: url(location.svg);
          background-size: 15px;
        }
      }

      a.filter {
        width: 30px;
        height: 30px;
        display: block;
      }

      &.search-field-button {
        padding: 0;
        margin: 0;
        width: 60px;

        a {
          height: 100%;
          width: 100%;
          background: $prim-color;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          border-radius: 0 5px 5px 0;
          background-size: 0% 100%;

          svg {
            width: 20px;
            height: 20px;

            path {
              fill: $prim-color-text;
              stroke: $prim-color-text;
            }
          }

          &:hover,
          &.active {
            /* Thanks to Nick Rowe codepen https://codepen.io/nrowe/pen/PoaLxN */
            background-color: $prim-color;
            background-image: linear-gradient(
              to right,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0) 40%,
              rgba(255, 255, 255, 0.7) 100%
            );
            background-repeat: no-repeat;
            background-size: 200% 100%;
            transition: background-size 1s, background-color 1s;
          }
        }
      }

      &.search-field-dropdown {
        padding: 0;
      }
    }
  }
}

.dropdown {
  background: url(dropdown.svg) no-repeat 90% center;
  background-size: 12px;
  text-align: left;
  min-width: 161px;
  position: relative;
  height: 100%;
  display: flex;
  font-weight: $exo-semibold;

  button {
    color: $text-default-color;
    border: none;
    outline: none;
    padding-right: 15px;
    width: 100%;
    background: none;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 20px;

    &.search-time {
      background-image: url(time.svg);
    }

    &.search-job-type {
      background-image: url(company.svg);
      background-size: 15px;
    }
  }

  .dropdown-menu {
    position: absolute;
    left: 0;
    height: 0px;
    bottom: 0;
    width: 100%;

    ul {
      position: relative;
      opacity: 0;
      z-index: -10;
      background: #fff;
      border-radius: 0 0 5px 5px;
      padding: 0;
      margin: 0;
      list-style-type: none;
      overflow: hidden;
      transition: 0.3s;

      li {
        width: 100%;
        cursor: pointer;
        border-bottom: 1px solid #fff;
        border-top: 1px solid $box-border-color;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;

        &:hover,
        &.active {
          background: $prim-color;
          color: $prim-color-text;
          border-color: $prim-color;
        }
      }
    }
  }
}

#results {
  width: 100%;
  float: left;
  margin-top: 1vw;

  > span {
    font-size: 16px;
    font-weight: 600;
    padding-left: 1vw;
  }

  .position {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;

    &:not(:nth-child(2)) {
      margin-top: 2vw;
    }

    &.position-active {
      &,
      * {
        border-color: $prim-color !important;
      }
    }

    .position-top {
      height: 70px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid $box-border-color;

      > div.position-company-logo {
        height: 50px;
        width: 75px;
        margin: 0 0.5rem;

        img {
          width: 100%;
          height: 100%;
        }
      }

      > div.position-details {
        line-height: 24px;

        > span.position-company {
          font-size: 14px;
        }
      }

      div.position-details-right {
        margin-left: auto;
        order: 2;
        border-left: 1px solid $box-border-color;
        padding: 0 1rem;
        height: 100%;
        display: flex;
        align-items: center;

        > span {
          background-repeat: no-repeat;
          background-position: left center;
          background-size: 12px;
          padding-left: 20px;

          &.position-salary {
            background-image: url("dollar.svg");
          }

          &.position-location {
            background-image: url("location.svg");
            min-width: 250px;
          }
        }
      }
    }

    &.position-active {
      .position-description {
        max-height: 400px;
        transition: max-height 0.25s ease-in;

        &::before {
          display: none;
        }
      }
    }

    .position-description::-webkit-scrollbar {
      display: none !important;
    }

    .position-description {
      //height: 150px;
      //line-height: 24px;
      position: relative;
      // transition: 0.3s;
      overflow-y: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      max-height: 170px;
      transition: max-height 0.3s ease-out;

      span {
        font-size: 16px;
        font-weight: 600;
        margin: 1rem;
        display: block;
      }

      p {
        font-size: 14px;
        font-weight: 300;
        margin: 0 1rem 1rem;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(81 114 236 / 77%) url("expand.png") no-repeat center;
        z-index: 2;
        opacity: 0;
        transition: 0.3s;
        cursor: pointer;
      }

      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}

#application {
  width: 35%;
  min-height: 80vh;
  margin-left: auto;
  order: 2;

  header {
    background: $prim-color;
    color: $prim-color-text;
    font-weight: $exo-semibold;
    height: $search-bar-height;
    line-height: $search-bar-height;
  }
}

#search-filters {
  width: 100%;
}

@keyframes showSearchFilters {
  0% {
    overflow-y: hidden;
    height: 0px;
  }

  100% {
    overflow-y: hidden;
    height: 100px;
  }
}

@keyframes hideSearchFilters {
  0% {
    overflow-y: hidden;
    height: 100px;
  }
  100% {
    overflow-y: hidden;
    height: 0px;
  }
}

#search-filters {
  font-size: 0.8rem;
  overflow-y: hidden;
  height: 0px;

  &.visible {
    animation-name: showSearchFilters;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  &.hidden {
    animation-name: hideSearchFilters;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  form {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;

    label span {
      color: $prim-color;
      font-weight: 900;
    }

    .noUi-target {
      width: 100%;
      margin-top: 20px;
      border-radius: 120px;
      height: 12px;
      background: #f6f6f6;
      border-radius: 4px;
      border: 1px solid #d5d5d5;
      box-shadow: inset 0 1px 1px #ffffff, 0 3px 6px -5px #000;
    }

    .noUi-value-sub,
    .noUi-value-large {
      display: none;
    }

    .noUi-horizontal .noUi-handle {
      width: 20px;
      height: 20px;
      border-radius: 120px;
      cursor: pointer;
    }

    .noUi-connect {
      background: $prim-color url(bg_dark.png) repeat;
    }

    .noUi-handle:after {
      left: 14px;
    }

    .noUi-handle:before {
      left: 10px;
    }

    .form-group {
      width: 25%;
      margin-top: 25px;
    }

    label {
      width: 100%;
      font-weight: 600;
    }
  }

  #range-slider-value {
    position: absolute;
    text-align: center;
    right: 0;
    top: -40px;
    letter-spacing: 2px;
    font-weight: 600;
    width: 145px;
    background: $prim-color;
    border-radius: 120px;
    color: #fff;
    padding: 2px 10px;
    box-shadow: inset 0 1px 1px #edf1ff, 0 3px 6px -5px #000;
    border: 1px solid #476fff;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-active {
  opacity: 0;
}

#login {
  flex-direction: column;
  align-items: center;
  height: 75vh;

  #login-logo {
    height: 55px;
    width: auto;
    background: url(logo.png) no-repeat left;
    display: block;
    padding-left: 65px;
  }

  h1 {
    font-weight: $exo-black;
    font-size: 36px;
    color: $prim-color;
    margin: -5px 0 20px;
  }

  form {
    margin: 0 auto;
    width: 40%;
    max-width: 450px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    input {
      border: none;
      outline: none;
      background: none;
    }

    input[type="button"],
    input[type="submit"] {
      background: #5172ec;
      width: auto;
      color: $prim-color-text;
      text-transform: uppercase;
      font-weight: 900;
      border-radius: 5px;
      padding: 20px 0;
      cursor: pointer;
      transition: 0.3s;
      border: 1px solid $invisible;

      &:hover {
        background: #fcfcfc;
        color: $prim-color;
        border-color: $prim-color;
      }
    }

    input[type="text"],
    input[type="password"] {
      background: #fcfcfc;
      background-size: 20px;
      background-position: 15px center;
      background-repeat: no-repeat;
      border: 1px solid $box-border-color;
      height: 30%;
      padding: 15px 15px 15px 55px;
      border-radius: 5px;
      margin: 0 0 20px;

      &.email {
        background-image: url(email.svg);
      }

      &.password {
        background-image: url(password.svg);
        background-size: 15px;
      }

      &.field-error {
        border-color: rgba(249, 0, 0, 0.5803921569);
      }
    }

    .error {
      background: #b50d0dcc;
      color: #fff;
      margin-bottom: 25px;
      text-align: center;
      padding: 15px 15px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.8rem;
    }

    .tooltip {
      position: relative;
      width: 100%;
      float: left;
      display: flex;
      flex-direction: column;

      &:before {
        content: attr(data-before);
        position: absolute;
        width: 200px;
        height: auto;
        min-height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgba(249, 0, 0, 0.5803921569);
        top: -5px;
        border-radius: 15px;
        color: #fff;
        text-shadow: 1px 1px #c37a7a;
        padding: 5px 0;
        text-align: center;
        opacity: 0;
        font-size: 0.8rem;
        line-height: 1.2rem;
        z-index: -1;
      }

      &.tooltip-visible:before {
        animation-name: showTooltip;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }

      &.tooltip-hidden:before {
        animation-name: hideTooltip;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes showTooltip {
  0% {
    z-index: 10;
  }
  1% {
    right: -186px;
    opacity: 0;
  }
  100% {
    z-index: 10;
    right: -220px;
    opacity: 1;
  }
}

@keyframes hideTooltip {
  0% {
    z-index: 10;
    right: -220px;
    opacity: 1;
  }
  99% {
    z-index: 10;
    right: -186px;
    opacity: 0;
  }
  100% {
    z-index: -10;
  }
}
