@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/nouislider/dist/nouislider.min.css";
@import "@assets/sass/variables.scss";
@import "@assets/sass/icons.scss";
@import "@assets/sass/forms.scss";
@import "@assets/sass/header.scss";
@import "@assets/sass/search.scss";
@import "@assets/sass/dropdowns.scss";

body {
  background: #efefef url("/bg.png") repeat;
  font-family: "Exo", sans-serif;

  &,
  * {
    color: $text-default-color;
  }
}

.box {
  background: $box-background-color;
  border: 1px solid $box-border-color;
}

.rounded {
  border-radius: 5px;
}

.sharp-bottom {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.page {
  display: flex;
  padding: 2rem;
  justify-content: center;

  &.search-page {
    justify-content: left;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-active {
  opacity: 0;
}

#auth-page {
  flex-direction: column;
  align-items: center;
  height: 75vh;

  #logo {
    height: 55px;
    width: auto;
    background: url("/logo.png") no-repeat left;
    display: block;
    padding-left: 65px;
  }

  h1 {
    font-weight: $exo-black;
    font-size: 36px;
    color: $prim-color;
    margin: -5px 0 20px;
  }
}

#create-job {
  form {
    width: 80%;
  }
}
