.dropdown {
  background: url("/dropdown.svg") no-repeat 90% center;
  background-size: 12px;
  text-align: left;
  min-width: 161px;
  position: relative;
  height: 100%;
  display: flex;
  font-weight: $exo-semibold;

  button {
    color: $text-default-color;
    border: none;
    outline: none;
    padding-right: 15px;
    width: 100%;
    background: none;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 20px;

    &.search-time {
      background-image: url("/time.svg");
    }

    &.search-job-type {
      background-image: url("/company.svg");
      background-size: 15px;
    }
  }

  .dropdown-menu {
    position: absolute;
    left: 0;
    height: 0px;
    bottom: 0;
    width: 100%;

    ul {
      position: relative;
      opacity: 0;
      z-index: -10;
      background: #fff;
      border-radius: 0 0 5px 5px;
      padding: 0;
      margin: 0;
      list-style-type: none;
      overflow: hidden;
      transition: 0.3s;

      li {
        width: 100%;
        cursor: pointer;
        border-bottom: 1px solid #fff;
        border-top: 1px solid $box-border-color;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;

        &:hover,
        &.active {
          background: $prim-color;
          color: $prim-color-text;
          border-color: $prim-color;
        }
      }
    }
  }
}
