#search {
  width: 50%;
  min-width: 700px;

  #search-bar {
    height: $search-bar-height;
    width: 100%;
    display: flex;
    font-size: 0.8rem;

    .search-field {
      border-right: 1px solid $box-border-color;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 1rem;
      user-select: none;
      font-weight: $exo-medium;

      &.no-border {
        border: none;
        margin-left: auto;
        order: 2;
      }

      input {
        color: $text-default-color;
        border: none;
        outline: none;
        padding: 0;
        width: 100%;
      }

      input {
        background: none;
        background-size: 20px;
        background-position: 0 center;
        background-repeat: no-repeat;
        height: 30%;
        padding-left: 35px;
        padding-right: 0px;

        &::after {
          content: "";
          height: 100%;
          border-right: 1px solid $box-border-color;
        }

        &.search-title {
          background-image: url("/job.svg");
        }

        &.search-location {
          background-image: url("/location.svg");
          background-size: 15px;
        }
      }

      a.filter {
        width: 30px;
        height: 30px;
        display: block;
      }

      &.search-field-button {
        padding: 0;
        margin: 0;
        width: 60px;

        a {
          height: 100%;
          width: 100%;
          background: $prim-color;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          border-radius: 0 5px 5px 0;
          background-size: 0% 100%;

          svg {
            width: 20px;
            height: 20px;

            path {
              fill: $prim-color-text;
              stroke: $prim-color-text;
            }
          }

          &:hover,
          &.active {
            /* Thanks to Nick Rowe codepen https://codepen.io/nrowe/pen/PoaLxN */
            background-color: $prim-color;
            background-image: linear-gradient(
              to right,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0) 40%,
              rgba(255, 255, 255, 0.7) 100%
            );
            background-repeat: no-repeat;
            background-size: 200% 100%;
            transition: background-size 1s, background-color 1s;
          }
        }
      }

      &.search-field-dropdown {
        padding: 0;
      }
    }
  }
}

#results {
  width: 100%;
  float: left;
  margin-top: 1vw;

  > span {
    font-size: 16px;
    font-weight: 600;
    padding-left: 1vw;
  }

  .position {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;

    &:not(:nth-child(2)) {
      margin-top: 2vw;
    }

    &.position-active {
      &,
      * {
        border-color: $prim-color !important;
      }
    }

    .position-top {
      height: 70px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid $box-border-color;

      > div.position-company-logo {
        height: 50px;
        width: 75px;
        margin: 0 0.5rem;

        img {
          width: 100%;
          height: 100%;
        }
      }

      > div.position-details {
        line-height: 24px;

        > span.position-company {
          font-size: 14px;
        }
      }

      div.position-details-right {
        margin-left: auto;
        order: 2;
        border-left: 1px solid $box-border-color;
        padding: 0 1rem;
        height: 100%;
        display: flex;
        align-items: center;

        > span {
          background-repeat: no-repeat;
          background-position: left center;
          background-size: 12px;
          padding-left: 20px;

          &.position-salary {
            background-image: url("/dollar.svg");
          }

          &.position-location {
            background-image: url("/location.svg");
            min-width: 250px;
          }
        }
      }
    }

    &.position-active {
      .position-description {
        max-height: 400px;
        transition: max-height 0.25s ease-in;

        &::before {
          display: none;
        }
      }
    }

    .position-description::-webkit-scrollbar {
      display: none !important;
    }

    .position-description {
      //height: 150px;
      //line-height: 24px;
      position: relative;
      // transition: 0.3s;
      overflow-y: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      max-height: 170px;
      transition: max-height 0.3s ease-out;

      span {
        font-size: 16px;
        font-weight: 600;
        margin: 1rem;
        display: block;
      }

      p {
        font-size: 14px;
        font-weight: 300;
        margin: 0 1rem 1rem;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(81 114 236 / 77%) url("/expand.png") no-repeat center;
        z-index: 2;
        opacity: 0;
        transition: 0.3s;
        cursor: pointer;
      }

      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}

#search-filters {
  width: 100%;
}

@keyframes showSearchFilters {
  0% {
    overflow-y: hidden;
    height: 0px;
  }

  100% {
    overflow-y: hidden;
    height: 100px;
  }
}

@keyframes hideSearchFilters {
  0% {
    overflow-y: hidden;
    height: 100px;
  }
  100% {
    overflow-y: hidden;
    height: 0px;
  }
}

#search-filters {
  font-size: 0.8rem;
  overflow-y: hidden;
  height: 0px;

  &.visible {
    animation-name: showSearchFilters;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  &.hidden {
    animation-name: hideSearchFilters;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  form {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;

    label span {
      color: $prim-color;
      font-weight: 900;
    }
  }
}
