$prim-color: #5172ec;
$prim-color-text: #fff;
$text-default-color: #747474;
$box-background-color: #fafafa;
$box-border-color: #d5d5d5;
$invisible: rgba(255, 255, 255, 0);

$exo-medium: 300;
$exo-semibold: 600;
$exo-black: 900;

$header-height: 95px;
$search-bar-height: 65px;
